<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>The digita News Feeder: About</title>
</head>
<body>
    <%- include('header') -%>
    <div id="google_translate_element"></div>

    <div class="container">
      <div class="container">
        <h2 style="text-align: center;">Project Intro</h2>
          <p>
            Now-a-days we live in age of Information Communication and Technology (ICT). We can’t think a single moment without technology. From morning to night, we need help of the technology. This is the revolutionary time of computer technology. Most of the works depends on web application. For this reason, anytime, anywhere, anyone can access a website by internet at low cost and we can find our expectable and most update information from website. At present information is one the most valuable resource of the current world. We have developed our project so that we can aware the people.
          </p>
          <p> The online news portal has been developed to override the problems prevailing in the practicing manual system. The main purpose of the project is intended to develop a portal for management of Web based news. The portal provides a suitable and easy display for which large population around the world can learn or will have the knowledge about the world. No formal knowledge is needed to use this portal.
          </p>
          <p> The portal has basically two user parts where one is user who can view, add comment, can have subscribe the newsletters or games and another is administrator who will manage or control the website and other user can only view, search and can add comments if name and email is given, but with the approval of administrator.
          </p>
          <p>The website consists of basic pages from which the user can view and know the relevant information according to various categories which administrator given. In other case, the two administrator manages all the relevant actions for which the users can view properly and also make reports.
          </p>
      </div>
      <div class="container">
        <h2 style="text-align: center;">Project team</h2>
        <p style="text-align: center;">The Digital News Feeder Project involves collecting information
          across the news websites.
        </p>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-3 col-sm-3"></div>
            <center>
              B, Sai Ganesh Reddy 
            </center>
          
        </div>
      </div>
    </div>
    <%- include('footer') -%>
    <script src="script.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>