<div class="footer-clean">
    <div class="top bg-dark">
        <a href="#">Top</a>
    </div>
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Quck links</h3>
                    <strong>
                        <ul>
                            <li><a href="./index">Home</a></li>
                            <li><a href="./flashnews">Flash News</a></li>
                            <li><a href="./cricket">Cricket News</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </strong>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <strong>
                        <ul>
                            <li><a href="./about">about us</a></li>
                            <li><a href="./team">Team</a></li>
                        </ul>
                    </strong>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Need to Report</h3>
                    <strong>
                        <ul>
                            <li><a href="./report">report us</a></li>
                        </ul>
                    </strong>
                </div>    
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p class="copyright bg-dark">The Digital News Feeder © 2022</p>
    </div>
</div>

    