<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="master.css">
    <title>The digita News Feeder: Team</title>
</head>
<body>
    <%- include('header') -%> 
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <div class="container">
      <h2 style="text-align: center;">Project team</h2>
      <p style="text-align: center;">The Digital News Feeder Project involves collecting information
        across the news websites.
      </p>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-3 col-sm-3"></div>
          <center>
            B, Sai Ganesh Reddy
          </center>
        
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-6 col-sm-6"></div>
        <center>K, Meghana</center>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-6 col-sm-6"></div>
        <center>Ch, Sowjayna</center>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-6 col-sm-6"></div>
        <center>K, Naveen</center>
      </div>
    </div>
    <%- include('footer') -%>
    <script src="script.js"></script>
    
</body>
</html>