    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thanks</title>
    <body> 
        <%- include('header') -%> 
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-1"><b>Thank You!</b></h1>
                    
                <p class="lead"><strong>Please check your email</strong> for further instructions.</p>
                <hr>
                <p class="lead"> <b>continue to</b>
                    <a class="btn btn-info btn-sm" href="./index" role="button" style="color:white;"><b>homepage</b></a>
                </p>
            </div>
        </div>
        
        <%- include('footer') -%> 
        <script src="script.js"></script>
    </body>
    </html>